
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100vh;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    background-color:hsl(0, 0%, 100%) ;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 22px 1px rgba(0, 0, 0,.3 );
}
.image{
    flex-shrink: 0;
    width: 100%;
}
.image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text{
    flex-shrink: 0;
    margin: 22px 15px;
}
.text h1{
    font-size: 22px;
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    margin-bottom: 15px;
}
.text p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }