* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.wrapper {
    width: 375px;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 363px;
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 8.5rem;
    text-align: center;
    width: 100%;
}

.img-logo {
    width: 125px;
    margin: 120px 0px 65px;
}

.h1-history {
    font-size: 2rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-history {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 1.6rem;
}

.button-download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-ios {
    width: 311px;
    line-height: 56px;
    background-color: hsl(171, 66%, 44%);
    border-radius: 28px;
    border: transparent;
    border-bottom: 3px solid hsl(171, 66%, 40%);
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.3rem;
    cursor: pointer;
}

.download-ios:hover {
    background-color: #5dccbb;
}

.download-mac {
    width: 311px;
    line-height: 56px;
    background-color: hsl(233, 100%, 69%);
    border-radius: 28px;
    border: transparent;
    border-bottom: 3px solid hsl(233, 100%, 65%);
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.download-mac:hover {
    background-color: #8896ff;
}

.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 8.5rem;
    text-align: center;
    width: 100%;
}

.h2-computer {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-computer {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3.6rem;
}

.computer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img-computer {
    width: 100%;
    padding-bottom: 3.6rem;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.h3-items {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-items {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3rem;
}

.devices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 8.5rem;
    text-align: center;
    width: 100%;
}

.h2-devices {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-devices {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3.6rem;
}

.img-devices {
    width: 100%;
}

.workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 8.5rem;
    text-align: center;
    width: 100%;
}

.h2-workflow {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-workflow {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 4rem;
}

.workflow-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.workflow-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.h3-workflow-create {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    padding-top: 1.6rem;
}

.p-workflow-create {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3.6rem;
}

.workflow-plain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.h3-workflow-plain {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    padding-top: 1.6rem;
}

.p-workflow-plain {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3.6rem;
}

.workflow-sneak {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.h3-workflow-sneak {
    font-size: 1.6rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    padding-top: 1.6rem;
}

.p-workflow-sneak {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 1.6rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 8rem;
    text-align: center;
    width: 100%;
}

.logo img {
    display: block;
    padding-bottom: 3.6rem;
    height: 35%;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 10rem;
    text-align: center;
    width: 100%;
}

.h2-download {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.p-download {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    line-height: 1.6rem;
    padding: 1.1rem 0.1rem 3rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-color: hsl(220, 1%, 97%);
}

.footer-img img {
    width: 60px;
    padding: 3.6rem 0 2rem;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    font-size: 1.2rem;
    font-weight: 400;
    color: hsl(210, 10%, 33%);
    line-height: 3rem;
    text-decoration: none;
}

.footer-links a:hover {
    color: #59c8b7;
}

.footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
    width: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:650px) {
    .wrapper {
        width: 1440px;
    }

    .background {
        background-image: url(./images/bg-header-desktop.png);
    }

    .history {
        padding: 0 22.5rem 8.5rem;
    }

    .h1-history {
        font-size: 2.9rem;
    }

    .h2-computer,
    .h2-devices,
    .h2-download,
    .h2-workflow {
        font-size: 2.2rem;
    }

    .h3-items,
    .h3-workflow-create,
    .h3-workflow-plain,
    .h3-workflow-sneak {
        font-size: 1.5rem;
    }

    .p-history,
    .p-computer,
    .p-devices,
    .p-workflow,
    .p-workflow-create,
    .p-workflow-plain,
    .p-workflow-sneak,
    .p-download {
        font-size: 1.15rem;
    }

    .button-download {
        flex-direction: row;
        padding: 2rem 0 1.5rem 0;
    }

    .download-ios {
        width: 227px;
        margin: 0 0.65rem;
    }

    .download-mac {
        width: 227px;
        margin: 0 0.65rem;
    }

    .computer {
        padding: 0 0 4.5rem;
    }

    .p-computer {
        padding: 1.1rem 22.5rem 3.6rem;
    }

    .computer-items {
        flex-direction: row;
        padding: 2rem 0;
    }

    .img-computer {
        flex-basis: 50%;
        margin-left: -30px;
        width: 749px;
    }

    .items-container {
        justify-content: space-between;
        align-items: flex-start;
        flex-basis: 50%;
        padding: 0 15.2rem 0 7.1rem;
    }

    .p-items {
        text-align: left;
        padding: 1.1rem 0.1rem 2rem;
    }

    .devices {
        padding: 0 17.3rem 6.5rem;
    }

    .p-devices {
        padding: 1.1rem 7.2rem 5.6rem;
    }

    .workflow {
        padding: 0 10rem 8.5rem;
    }

    .p-workflow {

        padding: 1.1rem 0.1rem 5rem;
    }

    .workflow-items {
        flex-direction: row;
    }

    .workflow-create,
    .workflow-plain,
    .workflow-sneak {
        height: 250px;
    }

    .h3-workflow-create {
        padding-top: 1.6rem;
    }

    .h3-workflow-plain,
    .h3-workflow-sneak {
        padding-top: 2rem;
    }

    .p-workflow-create,
    .p-workflow-plain,
    .p-workflow-sneak,
        {
        padding: 1.1rem 0.5rem 3.6rem;
    }

    .logo {
        justify-content: space-between;
        flex-direction: row;
        padding: 0 9rem 7rem;
    }

    .download {
        padding: 0 22.5rem 8.5rem;
    }


    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 150px;
    }

    .footer-img {
        display: flex;
        flex-basis: 25%;
        justify-content: center;
    }

    .footer-img img {
        width: 54px;
        padding: 0;
    }

    .footer-links {
        height: 50%;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 50%;
        align-items: flex-start;
    }

    .footer-links a {
        display: inline-block;
        line-height: 2rem;
    }

    .footer-social {
        flex-direction: row;
        flex-basis: 25%;
        justify-content: center;
    }

    .footer-social img {
        padding: 0 1rem;
    }
}